

.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.modal-image {
  position: relative;
  padding: 8px;
  max-height: 90vh;
  max-width: 90vw;
  border-radius: 32px;
  cursor: zoom-out;
  filter: drop-shadow(16px 16px 16px rgba(0, 0, 0, 0.60));
}
.close-button-background {
  position: absolute;
  top: 0px;
  right: 0px;
  margin: 24px;
  background-color: red;
  border-radius: 50%;
}
.close-button {
  margin: 4px;
  font-size: 34px;
  cursor: pointer;
}

.nav-background {
  background-color: white;
  border-radius: 50%;
}
ß
.close-button,
.nav-button {
  margin: 4px;
  font-size: 34px;
  cursor: pointer;
}

.close-button:hover,
.nav-button:hover {
  color: #434343;
}

.close-button:active,
.nav-button:active {
  color: #000;
}

.loading {
  display: none;
}
