.preview {
  cursor: zoom-in;
}

.small {
  max-width: 75px;
}

.medium {
  max-width: 150px;
}

.large {
  max-width: 300px;
}

.image-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 8px;
}

.image-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 8px;
}

.image-grid {
  border-radius: 10px;
  margin: 8px;
}

.carousel {
  padding: 0;
  margin: 16px;
}

.carousel-background {
  display: flex;
  justify-content: center;
  width: fit-content;
  background-color: #00000028;
}
