.spinner-container {
  display: flex;
  justify-content: center;
  margin-top: 32px;
}

.mat-card-container {
  overflow: hidden;
  max-height: 0;
  transition: max-height 4s ease;
}

.mat-card-container.expanded {
  max-height: 100vh;
}

mat-accordion {
  margin: 16px;
}

mat-expansion-panel {
  cursor: pointer;
}

mat-card {
  padding: 16px;
}

.tab-content {
  display: flex;
  align-items: flex-start;
}

.image-text-container {
  display: flex;
  align-items: center;
}

.text-content {
  flex: 1;
}

.mat-card {
  margin: 16px;
}
