.socials-content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

i,
.small,
.medium,
.large {
  padding: 4px;
  cursor: pointer;
}

.small {
  font-size: 16px;
}

.medium {
  font-size: 32px;
}

.large {
  font-size: 64px;
}
