html,
body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Header style */
.header {
  width: 100%;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.6);
}

/* Main content style */
.main {
  flex: 1;
  margin-top: 8px;
}

.footer {
  margin-top: 16px;
  width: 100%;
}
