/* Ensure the panel content is scrollable */
mat-expansion-panel .mat-expansion-panel-content {
  overflow: auto;
  /* Allow scrolling */
  max-height: 300px;
  /* Adjust based on your design */
}

.accordion-title {
  font-weight: bold;
}

.accordion-description {
  font-weight: lighter;
  color: rgb(110, 110, 110);
  font-style: italic;
  font-size: 14px;
}

.image-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 8px;
  /* Optional, add padding if needed */
}

.image-skills {
  max-width: 75px;
  margin: 8px;
  /* Ensure image sizes are handled correctly */
}

.accordion-content-wrapper {
  overflow: auto;
  /* Allow scrolling inside the panel content */
}